.navigation {
    background-color: lightblue;

}

.navButton {
    padding: 20px;
    display: inline-block;
    background-color: lightyellow;
    
}

.sideProfile {
    float: left;
    height: 950px;
    background-color: lightgreen;
    width: 12%;
    text-align: left;
    padding: 1%;
}

.main {
    background-color: lightblue;
    height: 550px;
    width: 86%;
    text-align: center;
    display: inline-block;
}

.pictures {
    float: right;
    background-color: lightblue;
    height: 450px;
    width: 86%;
    text-align: center;
}

