*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: radial-gradient(121.6% 49.96% at 50% 55.77%, #30C5CB 0%, #310E68 100%);
}

header {
    position: fixed;
    width: 100%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.navBar {
    background-color: #2D2D2D;
    padding-left: 15%;
    padding-right: 15%;
    box-shadow: 0px 5px 5px #2D2D2D;
}

.hamburger {
    background-color: transparent;
    display: none;
    border: 0;
    color: #FFFFFF;
    font-size: 50px;
    cursor: pointer;
}

.hamburger:focus {
    outline: none;
}

.fa-xmark {
    display: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.navUL {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

.navUL li {
    display: inline-block;
    padding: 0px 20px;
    color: white;
    font-size: 32px;
    cursor: pointer;
}

a:hover {
    color: #30C5CB;
}

.navItem:hover {
    color: #30C5CB;
}

.active {
    color: #30C5CB;
}

.navItem.active {
    color: #30C5CB;
}

a.active {
    color: #30C5CB;
}

.navItem.active a {
    color: #30C5CB;
}

.hero {
    height: 650px;
    padding-top: 130px;
}

.content {
    width: 1010px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 96px;
    color: white;
    text-shadow: 5px 5px 5px #2D2D2D;
    margin-bottom: -10px;
}

h1 span {
    display: inline-block;
}

h1 span::first-letter {
    font-family: 'Arizonia', cursive;
    margin-right: 10px;
    font-size: 150px;
}

.projects {
    width: 1300px;
    margin: 0px 15%;
}

.work {
    padding-top: 60px;
}

.aboutMe {
    padding-top: 60px;
}

.caseStudy {
    background-color: #2D2D2D;
    width: 1300px;
    height: 400px;
    box-shadow: 5px 5px 5px #2D2D2D;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.caseImage {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 750px;
    height: 400px;
}

#lifelettersImage {
    background: linear-gradient(180deg, rgba(147, 176, 82, 0.5) 0%, #93B052 82.81%), #FFFFFF;
}

#marsImage {
    background: linear-gradient(180deg, rgba(254, 203, 119, 0.5) 0%, #FECB77 82.81%), #FFFFFF;
}

#travemoteImage {
    background: linear-gradient(180deg, rgba(99, 74, 165, 0.5) 0%, #634AAD 82.81%), #FFFFFF;
}

.study {
    color: white;
    font-weight: 500;
    font-size: 60px;
    margin: 0px auto;
}

.study span {
    font-size: 72px;
}

.caseText {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    color: white;
    font-size: 28px;
    font-weight: 500;
    width: 779px;
}

.studyText {
    width: 495px;
    margin: 0px auto;
}

.view {
    width: 274px;
    height: 49px;
    border-radius: 10px;
    align-self: center;
    border: none;
    font-size: 24px;
    font-weight: 700;
    color: #2D2D2D;
    background-color: #FFFFFF;
    text-align: center;
    margin: 30px;
}

.view:hover {
    transition: 0.7s;
}

.view span {
    color: #FFFFFF;
    font-size: 32px;
}

.view:hover span {
    color: #2D2D2D;
}

#lifeletters:hover {
    background: #93B052;
    color: #2D2D2D;
}

#mars:hover {
    background: #FECB77;
    color: #2D2D2D;
}

#travemote:hover {
    background: #634AAD;
    color: #FFFFFF;
}

#travemote:hover span {
    color: #FFFFFF;
}

h4 {
    color: #30C5CB;
    font-size: 48px;
    text-shadow: 4px 4px 4px #2D2D2D;
    margin-top: -10px;
}

.brackets {
    font-family: 'Arizonia', cursive;
    color: #30C5CB;
    text-shadow: none;
}

h4 .brackets {
    color: white;
    font-size: 64px;
    margin-top: -100px;
}

.content p {
    color: white;
    font-size: 36px;
    width: 775px;
    margin: 20px auto;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 15%;
}

.icon {
    padding: 10px 15px;
}

.sectionHeader {
    color: white;
    font-weight: 500;
    font-size: 64px;
    margin-bottom: -38px;
    padding-left: 15%;
    text-shadow: 4px 4px 4px #2D2D2D;
}

.sectionHeader::first-letter {
    font-family: 'Arizonia', cursive;
    color: #30C5CB;
    font-size: 128px;
    padding-right: 8px;
}

.about {
    background: #2D2D2D;
    width: 1300px;
    height: 620px;
    box-shadow: 5px 5px 5px #2D2D2D;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "aboutTop"
    "aboutBottom";
    margin: 0px 15% 150px;
}

.aboutTop {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 400;
    grid-area: aboutTop;
}

.aboutTop p {
    margin: 25px auto;
    width: 1150px;
}

.aboutBottom {
    grid-area: aboutBottom;
    display: grid;
    grid-template-columns: 750px 350px;
    grid-template-areas: 
    "skills tools";
    justify-content: space-evenly;
    align-content: center;
}

.skills {
    grid-area: skills;
}

.skills h5 {
    font-size: 40px;
    font-weight: 400;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
}

.skillsList {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px 15px 15px 50px;
}

.list ul {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    color: #FFFFFF;
    font-weight: 400;
}

.tools {
    grid-area: tools;
    width: 350px;
}

.toolsList img {
    margin: auto;
    padding: 15px;
}

.tools h5 {
    font-size: 40px;
    font-weight: 400;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
}

footer {
    background-color: #2D2D2D;
    text-align: center;
    color: white;
    justify-content: center;
    align-content: center;
    height: 150px;
    padding: 0 15%;
    width: 100%;
}

h5 {
    font-size: 40px;
    font-weight: 400;
    margin: auto;
    justify-content: flex-start;
    color: #FFFFFF;
}

h5 .brackets {
    font-size: 52px;
}

footer .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    margin: 0 auto;
}

footer .contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
}

@media screen and (max-width: 767px) {

    header {
        width: 100%;
    }

    .hamburger {
        display: block;
    }
    
    .navUL {
        display: none;
        background: transparent;
        flex-direction: column;
        width: 100%;
        transform: translateY(-150%);
    }

    .showMenu {
        transform: translateY(0);
        display: flex;
        transition: transform 0.2s;
    }

    .work {
        padding-top: 90px;
    }
    
    .aboutMe {
        padding-top: 100px;
    }

    #caseStudy3 {
        margin-bottom: 0px;
    }
    /*.navUL.show {
       display: flex;
    }*/
    
    .navUL li {
        padding: 10px 20px;
        color: white;
        font-size: 32px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 650px;
        padding-top: 130px;
    }
    
    .content {
        width: 360px;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    h1 {
        font-size: 50px;
        color: white;
        text-shadow: 5px 5px 5px #2D2D2D;
    }
    
    h1 span::first-letter {
        font-family: 'Arizonia', cursive;
        margin-right: 10px;
        font-size: 75px;
    }

    h4 {
        color: #30C5CB;
        font-size: 32px;
        text-shadow: 4px 4px 4px #2D2D2D;
        margin: 30px;
    }
    
    h4 .brackets {
        color: white;
        font-size: 40px;
        margin-top: -100px;
    }
    
    .content p {
        color: white;
        font-size: 20px;
        font-weight: 500;
        width: 360px;
        margin: 20px auto;
    }
    
    .contact {
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 0 20%;
    }
    
    .icon {
        padding: 15px 15px;
    }

    .projects {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 360px;
    }

    .study {
        color: white;
        font-weight: 500;
        font-size: 32px;
        margin: 10px auto;
    }
    
    .study span {
        font-size: 40px;
    }
    
    .caseStudy {
        width: 360px;
        height: 550px;
        display: flex;
        flex-direction: column;
        margin: 0 auto 100px;
    }

    #caseStudy2 {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .caseImage {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 360px;
    }

    .caseText {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        color: white;
        font-size: 20px;
        font-weight: 400;
        width: 330px;
        margin: 0 auto;
    }
    
    .studyText {
        width: 340px;
        margin: 0px auto;
    }

    #lifelettersImage img{
        width: 100%;
    }
    #mars-laptop{
        width: 75%;
    }
    #mars-mobile{
        width: 25%;
        padding-right: 2px;
    }
    #travemoteImage img{
        height: 225px;
    }
    
    .about {
        max-width: 360px;
        margin: 0 auto;
        height: 1000px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "aboutTop"
        "aboutBottom";
    }
    .aboutTop {
        font-size: 20px;
        font-weight: 400;
        max-width: 360px;
        grid-area: aboutTop;
    }
    .aboutTop p {
        margin: 10px auto;
        max-width: 335px;
    }
    .aboutBottom {
        margin: 20px auto;
        max-width: 360px;
        grid-area: aboutBottom;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "skills" 
        "tools";
        align-content: center;
    }
    .skillsList {
        display: flex;
        flex-direction: column;
        margin: 0px 5%;
    }
    .skills {
        grid-area: skills;
        width: 1fr;
    }
    .skills h5 {
        font-size: 32px;
        font-weight: 400;
        margin: 0 auto;
        color: #FFFFFF;
        text-align: center;
    }
    .tools {
        grid-area: tools;
        justify-content: space-around;
    }
    .tools h5 {
        font-size: 32px;
        font-weight: 400;
        margin: 0 auto;
        color: #FFFFFF;
        text-align: center;
    }
    .list ul {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        font-size: 20px;
        font-weight: 400; 
    }

    .toolsList img {
        margin: auto;
        padding: 30px;
    }

    h5 {
        font-size: 24px;
        font-weight: 400;
        margin: 0 auto;
        color: #FFFFFF;
    }
    
    h5 .brackets {
        font-size: 40px;
    }
    .sectionHeader {
        color: white;
        font-weight: 500;
        font-size: 40px;
        margin-bottom: -10px;
        padding-left: 0%;
        text-shadow: 4px 4px 4px #2D2D2D;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .sectionHeader::first-letter {
        font-family: 'Arizonia', cursive;
        color: #30C5CB;
        font-size: 64px;
        padding-right: 8px;
    }
    footer {
        background-color: #2D2D2D;
        height: 250px;
        text-align: center;
        color: white;
    }
    footer .footer {
        display: flex;
        width: 360px;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
    }
    
    footer .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 50px;
        margin: 0 auto;
    }

    #break::before {
        content: "\a";
        white-space: pre;
    }
    
    #copyright {
        justify-content: center;
        width: 360px;
        margin: -5px auto;
    }
}

